<div>
	    <%= link_to new_task_path, :class=> "btn btn-primary" do %>
	    <i class="icon-plus"></i>
	    <% end %>
		<h3>
		To Do
		</h3>
	     <%= render "todo"%>
		<h3>
		Tasks
		</h3>
		<%= render "complete"%>
	    <h3>Active Projects</h3>
		


</div>
