<p id="notice"><%= notice %></p>

<% if @content.video_url.present? %>
    	<iframe width="560" height="315" src="<%= @content.video_url%>" frameborder="0" allowfullscreen></iframe>	
<% end %>
    

<%= link_to 'Edit', edit_topic_content_path(@topic, @content) %> |
<%= link_to 'Back', topic_path(@topic) %>
