<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit clearfix">
 <div class="pull-left span5">
  <h1>Build an Online Transcript</h1>
  <p>Show off your work and keep track of your learning efforts</p>
  <p><a class="btn btn-primary btn-large" href="/users/sign_up">Get Started</a></p>
 </div>
 <div class="pull-right">
  <a class="thumbnail" href="#">
	  <img alt="" src="http://placehold.it/370x300">
	</a>
 </div>
</div>
<div class="row">
	<div class="span4">
		<div class="thumbnail">
		 <img alt="" src="http://placehold.it/370x180">
		 <div class="caption">
		   <h5>For Self Starters</h5>
		   <p>Keeping track of your online learning efforts can be a chore. Keep a journal of the things you have done, find new things to learn, and share what you know with others.</p>
		   <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
		 </div>
		</div>
	</div>
	<div class="span4">
<div class="thumbnail">
 <img alt="" src="http://placehold.it/370x180">
 <div class="caption">
   <h5>For Employers</h5>
   <p>Find that person with a very specific skillset.</p>
   <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
 </div>
</div>
	</div>
	<div class="span4">
	<a class="thumbnail" href="#">
	  <img alt="" src="http://placehold.it/370x300">
	</a>
	</div>
</div>
