<div class="page-header">
	<%= link_to "New", new_category_path %>
</div>
<ul class="thumbnails">
	<% @categories.each do |category| %>
	<li class="span4">
		<div class="thumbnail">
			<h4><%= category.name %></h4>
			<hr class="lessspace">
			<div class="category-thumbs">
			 <%= category.description %>
		    </div>
			<%= link_to "Go", category_path(category), :class=> "btn btn-large btn-block" %>
		</div>
	</li>
	<% end %>
</ul>
